# Prerequisites
*.d

# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*

# Executables
*.out
*.sw*
scale
letkf
exec.sh

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
.tmp_versions/
Mkfile.old

# misc.
bin/
log/
data/
*.cache
Makefile
config.*
port_*
bpconf.h
batch.*
*.err
dtf.ini
*.nodes
